[Unit]
Description=GNU Mailing List Manager 3 / notify

[Service]
Type=oneshot
Environment="PYTHONPATH=@PYTHONPATH@"
User=@MMUSER@
Group=@MMGROUP@
ExecStart=@BINDIR@/mailman notify
