[Unit]
Description=GNU Mailing List Manager 3 / digests

[Service]
Type=oneshot
ExecStart=@BINDIR@/mailman digests --periodic
User=@MMUSER@
Group=@MMGROUP@
