[Unit]
Description=GNU Mailing List Manager 3 Web UI / run hourly: mailman3-web-hourly.service

# run only if main service is running
PartOf=mailman3-web.service
After=mailman3-web.service

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
FixedRandomDelay=true
Persistent=true

[Install]
WantedBy=timers.target mailman3-web.service
