[Unit]
Description=GNU Mailing List Manager 3 Web UI / run daily: mailman3-web-daily.service

# run only if main service is running
PartOf=mailman3-web.service
After=mailman3-web.service

[Timer]
OnCalendar=daily
RandomizedDelaySec=900
FixedRandomDelay=true
Persistent=true

[Install]
WantedBy=timers.target mailman3-web.service
